/* ============== BASE ================ */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Assistant', sans-serif;
}
/*H1 is used on landing title Only */
h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 100px;
    color: white;
}
h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 70px; 
    color: white;
    margin: 0;
}
h3 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 35px;
    color: white;
}
h4 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 30px;
}
.h2-fonty {
    font-family: 'Caveat Brush', cursive !important;
    font-size: 55px;
    color: white;
    margin-top: 100px;
    margin-bottom: 30px;
}
.top .h2-fonty{
    font-size: 40px;
}
.h3-fonty {
    font-family: 'Caveat Brush', cursive !important;
    font-size: 30px;
    color: white;
}
p {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}
ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.bottom-li{
    margin-bottom: 20px;
}
/* parallax */
.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Safety button to exit fast */
.get-away{
    position: fixed;
    top: 150px;
    right: 20px;
    z-index: 100;
    cursor:pointer;     
}
/* ============== LOGOS ================ */
/* central logo on lower nav */
.logo{
    background-image: url(../images/logo_border.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    width: 70px;
    height: 72px;
    margin: auto;
}
/* central logo vertical adjustment on lower nav */
#logo.logo{
    margin-top: 4px;
}
/* logo for burger menu - display none when not in mobile view */
.burger-logo{
    display: none;
}
/* NI3 original logo on far left upper nav section (navbarMainSite) */
.logoMain{
    background-image: url(../images/logoMain2.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 40px;
    background-size: contain;
    position: fixed;
    margin-left: 15px;
}
/* logo in landing page text (representing letter "o") */
.logo-inline-logo{
    background-image: url('../images/logo_shadow.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 72px;
    height: 73px;
    margin-bottom: -4px;
 /* background-image: url('../images/logo.svg');
    width: 70px;
    height: 72px; 
    margin-bottom: 0; */ 
}
/* ============== NAVS ================ */
/* defaults for both levels of nav  */
.navbar-default{
    background-color: transparent !important;
    border: none !important;
}
/* top level nav (purple)*/
#navbarMainSite{
    margin-top: 0%;
    border-bottom: solid 1px;
    border-bottom-color: black;
}
/* second nav (not purple)*/
.lower-nav{
    background-color:rgba(245, 240, 240, 0.9);
}
/* contains top level nav text */
.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
/* contains top level nav text (same div as .nav) */
.one{
    display: inline-block;
    text-align: center;
}
.one>li{
    display: inline-block;
}
/* dropdown on top nav (only appears in mobile view) */
.dropdown-menu {
    background-color: #593366 !important;
    margin-left: -45px;
}
/* lightens top nav text*/
.nav>li>a, .dropdown-menu>li>a{
    color:rgba(255,255,255,0.5);
} 
/* top nav text bg colour*/
.nav>li>a:focus, .nav>li>a:hover {
    background-color: white;
}
/* bg color / text colour */
.nav.one>li>a:focus, .nav.one>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #593366 !important;
    color: white!important;
}
/* Burger button*/
.navbar-default .navbar-toggle {
    background-color: white;
    border-color: #593366;
}
/* Text and Icon Colours in lower nav*/
.lower-nav-li{
    width:100%;
}
.lower-nav-li>a{
    color:#593366 !important;
}
/* show / hide burger nav */
.burger-nav-area{
    display: none;
} 
/* for the svg nav icons only (need to define absolute value unlike social media svg icons due to effect of height:auto in nav on certain browsers) */
.svg-menu-icon{
    width: 42px;
    height: 42px;
}
/* Glyphicon - Nav icons */
.glyphicon {
    z-index: 100;
    top: 18px;
    line-height: 0;
    font-size: xx-large;
}
/* ============== SECTIONS ================ */
/********* SHARED STYLING **********/
.game, .help{
    background-size: 2700px 2700px; 
}
.help, .about, .game{
    background-repeat: repeat;
    min-height: 100%;    
}
.footer-logos, .footer-signature, #navbarMainSite{
    background-color: #593366;
}
.about-text>ul>li, .tab-content li{
    text-align: left;
    list-style-type: circle;
    list-style-position: inside;
    text-indent: -40px;
    padding-left: 40px;
}
/********* LANDING **********/
.landing{      
    background: #53b598; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#59C2A3, #53b598, #479B83); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#59C2A3, #53b598, #479B83); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#59C2A3, #53b598, #479B83); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#59C2A3, #53b598, #479B83); /* Standard syntax */
    min-height: 100%;
}
.landing h1{
    margin-top: 340px;
    text-shadow: 3px 3px #439079;
}
.landing h2{
    font-size: 40px;
    width: 100%;
    display: inline-block;
}
/********* HELP **********/
.help{
    background-color: #3283B5;
    background-image: -webkit-radial-gradient(rgba(54, 140, 194,0.9), rgba(50, 131, 181,0.9), rgba(43, 113, 155,0.9)), url(../images/logo.svg);
    background-image: -o-radial-gradient(rgba(54, 140, 194,0.9), rgba(50, 131, 181,0.9), rgba(43, 113, 155,0.9)), url(../images/logo.svg);
    background-image: -moz-radial-gradient(rgba(54, 140, 194,0.9), rgba(50, 131, 181,0.9), rgba(43, 113, 155,0.9)), url(../images/logo.svg);
    background-image: radial-gradient(rgba(54, 140, 194,0.9), rgba(50, 131, 181,0.9), rgba(43, 113, 155,0.9)), url(../images/logo.svg);
}
/* tabs within get help section which toggle content visibility*/
.nav-tabs{
    display: inline-block;
}
.nav-tabs>li{
    display: inline-block;
}
.nav-tabs>li>a{
    color: white;
    font-size: 20px;
    border-radius: 0;
}
.nav-tabs>li>a:hover{
    color: white;
    background-color: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #73B5E3;
    color: white;
}
/* content of these tabs */
.tab-content{
    margin-top: 40px;
    color: white;
    text-align: left;
    font-size: 20px;
}
.tab-content a {
    color: white;
    text-decoration: underline;
}
/********* ABOUT SECTION **********/
.about{
    background-image:  url(../images/bg2.jpg);
}
.about-text{
    color: white;
    font-size: 20px;
    text-align: left;
}
.about-text .h2-fonty{
    text-align: center;
}
.about-text a{
    color: white;
    text-decoration: underline;
}
.about-row{
    background: rgba(0, 0, 0, 0.23);
}
/********* GAME SECTION **********/
/* intro section / banner */
.game-dev-intro{
    background-color: #C1494A;
}
.game-dev-intro p{
    margin-bottom: 50px;
}
/* parallax image */
.game-dev-focal-img{
    background-image: url(../images/poster.jpg);
    opacity: 0.8;
    height: 40%;
}
.game{
    background-color: #C1494A;
    background-image: -webkit-radial-gradient(rgba(206, 78, 79,0.9), rgba(193, 73, 74,0.9), rgba(167, 63, 64,0.9)), url(../images/logo.svg);
    background-image: -o-radial-gradient(rgba(206, 78, 79,0.9), rgba(193, 73, 74,0.9), rgba(167, 63, 64,0.9)), url(../images/logo.svg);
    background-image: -moz-radial-gradient(rgba(206, 78, 79,0.9), rgba(193, 73, 74,0.9), rgba(167, 63, 64,0.9)), url(../images/logo.svg);
    background-image: radial-gradient(rgba(206, 78, 79,0.9), rgba(193, 73, 74,0.9), rgba(167, 63, 64,0.9)), url(../images/logo.svg);
}
#dev-cast {
    margin-top: 0;
    color: #ffffff;
    top: 32%;
}
.img-circle{
    border-radius:50%;
    box-shadow: 2px 2px 0px rgba(0,0,0, 0.18);
    border-radius: 50%; 
    border: 15px solid #a74445; /*border: 15px solid transparent;*/
    display: block;
    position: relative;
}
.game-btn{
    margin-top: 50px;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border: none;
    border-radius: 0;
}
/* YouTube */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* makes 16:9 ratio*/
    height: 0;
    margin: 0 0 20px 0;
    width: 100% /*fills partent*/
}
iframe{
    border: none;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /*fills wrapper div width*/
    height: 100%; /*fills wrapper div height*/
}
 /* meet the family tabs */
.fam-nav.nav-tabs>li>a{
    color: white !important;
    font-size: 20px;
    border-radius: 0;
}
.fam-nav.nav-tabs>li.active>a{
    font-weight: bold;
}
.fam-nav>li>a, .fam-nav>li>a:focus, .fam-nav>li>a:hover, .fam-nav>li.active>a, .fam-nav>li.active>a:focus, .fam-nav>li.active>a:hover{
    background: none !important;
    border:none !important;
}     
/********* FOOTER **********/
/* white section with social media icons */
.footer{
    height:80px;
    color: #593366;
    border-top: 3px;
    border-bottom: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
}
/* purple section with organisation logos */
.footer-logos{
    padding-top: 20px;
    padding-bottom: 20px;
}
/* very bottom of footer - with text inc copyright info */
.footer-signature {
     padding-bottom: 20px;
}
/* organisation logos in footer */
.logos{
    height: 80px;
}
#eu img{
    border: solid white;
}
.signature span{
    color: white;
}
/********* SOCIAL MEDIA ICONS **********/
/* container */
.social-media-landing{
    margin-top: 0;
}
/* container */
.social-media-footer{
}
/* div class for all social media icons */
.icon {
    width: 42px;
    height: auto;
}
/* a class for all social media icons */
.icon-a {
    border: none !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    display: inline-block;
    margin-left: 9px;
    margin-right: 9px;
    padding: 4px;
}
/* a class for social media icons (specific to footer) */
.icon-footer-a {
    background-color: #593366 !important;
    margin-top: 18px;
}
/* img class for social media icons (specific to footer) */
.icon-footer-img {
    width: 30px;
}
/********* MEDIA QUERIES **********/
@media (max-width: 1199px) {
    /* hides the quick exit icon which displays fixed on desktop*/
    .get-away{
        display: none;
    }
    /* display 100% width for nav tabs in get help section  */
    .nav-tabs-get-help, .nav-tabs-get-help li{
        width: 100%;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: 1px solid #ddd;
    }
    .social-media-landing {
        margin-top: 0;
    }
    .landing h1 {
        margin-top: 220px;
    }
    .help, .about, .game {
        background-image: none;
    }
    .help{
        background-color: #3588BD;
    }
    .about{
        background-color: #593366;
    }
    .game{
        background-color: #C1494A;
    }    
}
@media (max-width: 767px) {
    /* display 100% width for all nav tabs (get help and family sections use this)  */
    .nav-tabs li {
        width: 100%;
    }
    /*i: fixes fa-info-circle off center due to (li a) padding on top nav*/
    .fa-info-circle{
        padding-right:7px;
    }
    /* burger menu */
    .burger-nav-area{
        width: 100%;
        background: white;
        height: 50px;
        display: block;
    }
    .burger-logo{
        background-image: url(../images/logo_border.svg);
        background-repeat: no-repeat;
        display: inline-block;
        width: 50px;
   /*     height: 50px;
        margin-left: 15px;
        float: left;
        */

    height: 45px;
    margin-left: 15px;
    float: left;
    background-size: 80%;
    margin-top: 5px;

    }
    .navbar-collapse.in {
        overflow: hidden;
        max-height: none !important;
        height: auto !important;
    }
    .navbar-collapse.out {
        display: none;
    }
    .navbar-collapse {
        padding:0;
        border:none;
    }
    /* shows burger icon within media query max width*/
    .navbar-toggle {
        display: block !important;
    }
    .nav>li>a {
        padding-right: 7px;
        padding-left: 7px;
    }
    .logo{
        display:none;
    }
    /*adjust transparency of collapse menu*/
    .lower-nav {
        background-color:rgb(245, 240, 240);
    }
    /* logo and h1 for the landing page - inside the text*/
    .logo-inline-logo {
        width: 42px;
        height: 44px;
    }
    h1{
        font-size: 60px;
    }
    /* displays mobile nav full width one icon per line */
    .nav-two{
        display: inline-block;
        width: 100%
    }
    .help, .game{
        background-size: 300%;     
    }
    .game-dev-focal-img{
        background-image: url(../images/poster.jpg);
        opacity: 0.8;
        background-attachment: inherit;
    }
    .social-media-landing {
        margin-top: 30px;
    }
    .landing h1{
        margin-top: 180px;
    }
    .landing .h2-fonty{
        font-size: 30px;
        max-width: 70%;
        margin-top: 70px;
    }
    /* displays text centrally underneath img-circle's */
    .fam-nav li a{
        display: inline-block;
    }
}