
body, html {
    height: 100%;
    margin: 0; /*removes white border around all screen*/
    text-align: center;
    padding: 0;
}

.content{ margin: 0 auto; width: 960px; }
/* All parallax settings */
.parallax{
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nav icons */
.glyphicon {
	z-index: 100;
}

/*********LOGO**********/
.logo{
    /*background-image: url('../images/logo1.png');*/
	background-image: url('../images/sqlogo.svg');
    z-index: 121;
    margin-top: 0px;
    width: 50px;
    background-repeat: no-repeat;
    height: 66px;
   /* height: 160px;*/
	/*display: none;*/
}
.navbar-brand {
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	padding: 0;
}




/* Sections */

/* Section 1 */
.section1{
        background-image: url(../images/domestic.png);
}

.section1-content-holder{
    position: absolute;
    top: 50%;
    width: 100%;
    color: #000;
}

.section1-content-intro-text{
    background-color: #003D2B;
    opacity: 0.6;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.section2{
    background-image: url(../images/lass.png);
}

.section2-content-holder{
    position: absolute;
    top: 80%;
    width: 100%;
    color: #000;
}

.section2-content-intro-text{
    background-color: #003D2B;
    opacity: 0.6;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
